body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebecf0;
}

p,
h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    letter-spacing: -0.2px;
}

div {
    text-shadow: 1px 1px 1px #fff;
}

.sign_up {
    padding: 32px 0;
}

.sign_up h1 {
    font-size: 50px;
    color: #babecc;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

input,
.login,
.unit {
    width: 280px;
    padding: 16px;
    border-radius: 320px;
    font-size: 16px;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    border: 0;
    outline: 0;
    color: #61677c;
}

input:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.login,
.unit {
    width: 310px;
    height: 48px;
    font-weight: bold;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #ae1100;
}

.login i {
    margin-right: 8px;
}

.login:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.login:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button .icon {
    margin-right: 8px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0px;
    /* border: 2px solid; */
}

.unit {
    width: 55px;
    height: 55px;
    border: 0;
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 19px;
    border-radius: 8px;
    line-height: 0px;
}